body {
    background: #fdfdfd00;
    font-family: Arial, Helvetica, sans-serif;
}

/* cart two */
/* Main Container */
.versions-container {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
    color: #333;
}

/* Header */
.versions-title {
    font-size:2.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}

.available-badge {
    color: #82B440;
}

.envato-icon {
    height: 42px;
    width: 42px;
    vertical-align: middle;
}

/* Subtitle */
.versions-subtitle {
    font-size:1.1rem;
    color: #666;
    margin-bottom: 40px;
}

/* Cards Grid */
.cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

/* Individual Card Link */
.card-link {
    text-decoration: none;
    color: inherit;
}

/* Card */
.version-card {
    background: #fff;
    width: 300px;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.03);
    transition: transform 0.3s ease;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Card Title */
.card-title {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}



.device-section {
    position: relative;
    width: 100%;
    min-height: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px
}

.device-mockup-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    aspect-ratio: 16/9
}

.device-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../cards/responsive-img.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none
}

.screen-layer {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.screen-pc {
    top: 8%;
    left: 29%;
    width: 46%;
    height: 49%;
    z-index: 1;
}

.screen-laptop {
    top: 43%;
    left: 12%;
    width: 30%;
    height: 39%;
    z-index: 2
}

.screen-tablet {
    top: 46%;
    right: 11%;
    width: 25%;
    height: 34%;
    z-index: 3
}

.screen-mobile {
    bottom: 8%;
    left: 84%;
    width: 8%;
    height: 31%;
    z-index: 4
}

.screen-watch {
    bottom: 12%;
    left: 76%;
    width: 5%;
    height: 10%;
    z-index: 5
}

.screen-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width:1024px) {
    .device-mockup-container {
        max-width: 100%
    }
}

@media (max-width:768px) {
    .device-mockup-container {
        width: 100%
    }

    .device-section {
        min-height: 26vh
    }
}

.versions-container {
    max-width: 700px !important
}